@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Oswald:wght@400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-attention: #000;
  --color-attention-background: #fff;

  --color-primary-lighter: #61e0b8;
  --color-primary: #50c9a3;
  --color-primary-darker: #3c967a;
  --color-secondary-lighter: #5e656b;
  --color-secondary: #323639;

  --color-white: #fff;
  --color-white-background: #cafced;
  --color-white-background-lighter: #dbfff4;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h4,
h5,
h6 {
  color: var(--color-primary-darker);
}

hr {
  width: 80%;
  height: 2px;
  border: 1px solid var(--color-primary-lighter);
  margin: 32px auto;
  position: relative;
}

hr[data-title]::after {
  content: attr(data-title);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--color-primary-lighter);
  padding: 8px 16px;
  background-color: var(--color-white);
}

.editor {
  border: 2px solid var(--color-primary-lighter);
  padding: 16px;
  margin: -16px;
  position: relative;
  background-color: var(--color-white-background);
}

.editor-toolbar {
  position: absolute;
  top: 0;
  right: 0;
}

.card {
  background-color: var(--color-white-background);
}

#panel {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--color-primary);
  z-index: 20;
  padding: 20px;
}

#panel nav {
  background-color: var(--color-primary-lighter);
}

#panel a {
  display: block;
  padding: 8px 12px;
  border: var(--color-primary-darker);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: var(--color-secondary);
}

#panel + .wrapper {
  margin-left: 300px;
  width: calc(100% - 300px);
}

.hidden-until-focus {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 26px 18px;
  color: var(--color-attention);
  border: 2px solid var(--color-attention);
  background-color: var(--color-attention-background);
  transform: translateY(-999px);
  font-size: 1.3em;
  z-index: 50;
}

.hidden-until-focus:focus {
  transform: translateY(0);
}

/* Page styling */

header {
  position: fixed;
  top: 160px;
  z-index: 10;
  pointer-events: all;
}

header>nav>a {
    position: relative;
    text-decoration: none;
    color: var(--color-secondary);
    padding: 14px 18px;
    background-color: var(--color-primary);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-sizing: content-box;
}

header>nav>a.current {
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: 10px solid var(--color-primary-darker);

}

button {
  position: relative;
  text-decoration: none;
  color: var(--color-secondary);
  padding: 14px 18px;
  background-color: var(--color-primary);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  box-sizing: content-box;
  border: none;
}

q {
  font-weight: bold;
  color: var(--color-primary-darker);
  display: block;
}

q + span {
  font-size: 0.9em;
  margin-left: 3em;
}

q + span::before {
  content: "- ";
}

ul > li + li {
  margin-block-start: 1em;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  padding-top: 56.25%;
  pointer-events: all;
}

#background>* {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;

}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  gap: 160px;
  z-index: 2;
  pointer-events: none;
  position: relative;
  width: 100vw;
  overflow-y: hidden;
  padding-top: 25vh;
}

#background:focus + .wrapper {
  margin-top: 66.25vw;
}

.wrapper>main {
    flex: 3;
    margin-top: 80vh;
    background-color: var(--color-white-background);
    padding: 80px 120px;
    pointer-events: all;
    z-index: 5;
}

.no-background>main {
    margin-top: unset;
}

.wrapper>aside {
    flex: 1;
    margin-top: 60vh;
    background-color: var(--color-primary);
    padding: 40px 60px;
    pointer-events: all;
    z-index: 5;
}

footer {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  background-color: var(--color-primary-darker);
  text-align: center;
  bottom: 0;
}

.cards,
.paragraph,
.home-project {
  position: relative;
  line-height: 1.62em;
  padding: 40px 60px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-white);
}

.cards .content-wrapper {
  margin-top: -160px;
  border: 15px solid var(--color-white-background);
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#container {
  width: 100%;
  height: 100%;
  padding: 10px;
}

#edit {
  padding: 5px;
  outline: none;
}

button {
  width: 80px;
  padding: 5px;
  margin: 0 3px;
  background-color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-primary);
  box-shadow: 2px 2px 2px #3f3f3f;
}

button:hover {
    box-shadow: 2px 2px 3px;
}

button:active {
    box-shadow: 1px 1px 3px;
}

.select-image-list {
  list-style-type: none;
}

.select-image-list-item {
  display: inline-block;
}

.select-image-list-item-input {
  display: none;
}

.select-image-list-item-label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-image-list-item-label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.select-image-list-item-label img {
  height: 300px;
  width: 380px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .select-image-list-item-label {
  border-color: #ddd;
}

:checked + .select-image-list-item-label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + .select-image-list-item-label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 60px;
  justify-content: center;
}

.gallery>.photo {
    width: 270px;
    height: 270px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}

.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.three-photos>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.two-photos>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.photo>.details {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: #00000070;
    color: var(--color-white);
    text-align: right;
    justify-content: space-evenly;
    padding: 8px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.photo:hover>.details {
    transform: translateX(0);
}

.content {
  display: flex;
  flex-flow: column;
}
development
.paragraph-image-container {
  display: flex;
}

.paragraph-image {
  flex-flow: row;
}

.paragraph-image-reverse {
  flex-flow: row-reverse;
}

.paragraph-image-container>div:not(.editor-toolbar) {
    height: 100%;
    width: 100%;
}
.paragrah {
    text-align: left;
    overflow-wrap: break-word;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 50px;
}

.flex-inline {
    height: 100%;
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    background: #ecfdf8;
    border-radius: 10px;
}

.flex>div {
    width: 32.5%;
    height: 175px;
}

.flex-two>div {
    width: 49%;
    height: 250px;
    align-items: center;
}

.flex-inline>.photo {
    width: 50%;
    align-items: center;
    text-align: justify;
}

.flex-inline>.photo img {
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: scale-down;
}

.flex-inline>.photo-small {
    width: 50%;
    height: 100%;
    align-items: center;
    text-align: justify;
}

.flex-inline>.photo-small img {
    width: 100%;
    height: 100%;
    padding: 5px;
    object-fit: scale-down;
}

.flex-inline>.text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.button {
    position: relative;
    text-decoration: none;
    color: var(--color-secondary);
    padding: 4px 4px;
    background-color: var(--color-primary);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-sizing: content-box;
    border: none;
    width: 80px;
    padding: 5px;
    margin: 0 3px;
    background-color: var(--color-primary);
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 2px 2px 2px #3f3f3f;
    text-align: center;
}

.paragraph-image-container > div:not(.editor-toolbar) {
  height: 100%;
  width: 100%;
}

.project-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.project {
  flex: 1;
}

.project-card {
  display: flex;
  flex-flow: row;
  margin-bottom: 10px;
  max-height: 500px;
  height: auto;
}

.project-card h1 {
  color: var(--color-primary-darker);
}

.project-card p {
  font-size: 120%;
}

.project-card a {
  background-color: var(--color-primary-darker);
  border-width: 0;
}

.project-card a:hover {
  background-color: var(--color-primary);
}
.project-card img {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.project-card .descriptionContainer {
  flex: 2;
  background-color: white;
  padding: 50px;
}

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 30px;
  padding: 0 15px;
}

.home-project-gallery {
  display: flex;
  justify-content: space-evenly;
  width: calc(100% + 30px);
  gap: 30px;
  margin: -250px 0 -15px -15px;
}

.home-project {
  min-width: 30%;
  height: 400px;
  flex: 1;
  overflow: hidden;
  border: 15px solid var(--color-white-background);
}

.home-project > a {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: var(--color-secondary);
  padding: 14px 18px;
  background-color: var(--color-primary);
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  box-sizing: content-box;
  border: none;
}

.home-project > img {
  position: relative;
  margin-top: -40px;
  margin-left: -60px;
  object-fit: cover;
  width: calc(100% + (60px * 2));
  height: calc(50% + 40px);
}

#nav-enable {
  display: none;
}

label[for="nav-enable"] {
  display: none;
}

@media screen and (max-width: 1024px) {
  .wrapper > main {
    padding: 0;
    flex-flow: column nowrap;
  }

  .home-project {
    min-width: 30%;
    height: 500px;
  }

  header {
    top: 0;
    line-height: 3em;
    width: 100%;
    display: flex;
  }

  header nav {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--color-primary);
    justify-content: center;
    padding: 20px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  header nav a {
    text-align: center;
  }

  label[for="nav-enable"] {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background: var(--color-primary-darker);
    z-index: 50;
  }

  label[for="nav-enable"]::before,
  label[for="nav-enable"]::after {
    display: block;
    content: "";
    background-color: var(--color-primary-lighter);
    width: 70%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 51;
    transform: translate(-50%, -50%) rotate(0);
    transition: top 0.3s ease, transform 0.3s ease;
  }

  label[for="nav-enable"]::before {
    top: calc(50% - 20%);
  }

  label[for="nav-enable"]::after {
    top: calc(50% + 20%);
  }

  #nav-enable:checked ~ label[for="nav-enable"]::before {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  #nav-enable:checked ~ label[for="nav-enable"]::after {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  #nav-enable:checked ~ nav {
    transform: translateX(0);
  }

  .wrapper > main {
    flex: 3;
    margin-top: 56.25vw;
  }
}

@media screen and (max-width: 400px) {
  .home-project-gallery {
    flex-flow: column nowrap;
    gap: 0;
  }
}

.plan-section {
    max-width: 80%;
    margin: 50px auto;
    flex-wrap: nowrap;
}

.plan-card-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plan-download {
    text-align: center;
}

.plan-card {
    width: 18rem;
    border-radius: 10px;
    border: thin solid #d6d6d6;
    padding: 20px;
    background: white;
    height: 100%;
}

.plan-card p {
    color: #494949;
}

.plan-card-box {
    margin: 10px;
}

.styled-table {
    margin: auto;
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.plan-smalltext {
    color: #7e7e7e;
    max-width: 400px;
    margin: auto;
}

.plan-hr {
    width:100%;
    margin: 40px 0;
}

.plan-quote {
    max-width: 40%;
    margin-left: auto;
}

.image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.picture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: dense;
}

.item {
    text-align: center;
}
.picture-grid > .item {
    padding: 10%;
    overflow-wrap: break-word;
    display: grid;
    place-items: center;
    text-align: center;
}

.picture-grid > .paragrah {
    display: inline-block;
}
.overons-text {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.project-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.project {
    flex: 1;
}

.project-card {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    max-height: 500px;
    height: auto;
    width: 90vw;
}

.project-card h1 {
    color: var(--color-primary-darker);
}

.project-card p {
    font-size: 120%;
}

.project-card a {
    background-color: var(--color-primary-darker);
    border-width: 0;
}

.project-card a:hover {
    background-color: var(--color-primary);
}
.project-card img {
    flex: 1;
    height: auto;
    overflow: hidden;
}
.project-card .descriptionContainer {
    flex: 2;
    background-color: white;
    padding: 50px;
}

@media only screen and (max-width : 768px) {
    .project-card {
        flex-flow: column;
        max-width: 90vw;
        display: flex;
        flex: 1;
        justify-content: center;
        margin-left: -24vw;
    }
}
