@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Oswald:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --color-attention: #000;
    --color-attention-background: #fff;

    --color-primary-lighter: #61e0b8;
    --color-primary: #50C9A3;
    --color-primary-darker: #3C967A;
    --color-secondary-lighter: #5E656B;
    --color-secondary: #323639;

    --color-white: #fff;
    --color-white-background: #CAFCED;
    --color-white-background-lighter: #dbfff4;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

h4,
h5,
h6 {
    color: var(--color-primary-darker);
}

hr {
    width: 80%;
    height: 2px;
    border: 1px solid var(--color-primary-lighter);
    margin: 32px auto;
    position: relative;
}

hr[data-title]::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--color-primary-lighter);
    padding: 8px 16px;
    background-color: var(--color-white);
}

.editor {
    border: 2px solid var(--color-primary-lighter);
    padding: 16px;
    margin: -16px;
    position: relative;
}

.editor-toolbar {
    position: absolute;
    top: 0;
    right: 0;
}

.card {
    background-color: var(--color-white-background);
}

#panel {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--color-primary);
    z-index: 20;
    padding: 20px;
}

#panel nav {
    background-color: var(--color-primary-lighter);
}

#panel a {
    display: block;
    padding: 8px 12px;
    border: var(--color-primary-darker);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    color: var(--color-secondary);
}

#panel+.wrapper {
    margin-left: 300px;
    width: calc(100% - 300px);
}

.hidden-until-focus {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 26px 18px;
    color: var(--color-attention);
    border: 2px solid var(--color-attention);
    background-color: var(--color-attention-background);
    transform: translateY(-999px);
    font-size: 1.3em;
    z-index: 50;
}

.hidden-until-focus:focus {
    transform: translateY(0);
}

/* Page styling */

header {
    position: fixed;
    top: 160px;
    z-index: 10;
    pointer-events: all;
}

header>nav>a {
    position: relative;
    text-decoration: none;
    color: var(--color-secondary);
    padding: 14px 18px;
    background-color: var(--color-primary);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-sizing: content-box;
}

header>nav>a.current {
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: 10px solid var(--color-primary-darker);
}

button {
    position: relative;
    text-decoration: none;
    color: var(--color-secondary);
    padding: 14px 18px;
    background-color: var(--color-primary);
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-sizing: content-box;
    border: none;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    padding-top: 56.25%;
    pointer-events: all;
}

#background>* {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 160px;
    z-index: 2;
    pointer-events: none;
    position: relative;
    width: 100vw;
    overflow-y: hidden;
    padding-top: 25vh
}

#background:focus+.wrapper {
    margin-top: 66.25vw;
}

.wrapper>main {
    flex: 3;
    margin-top: 80vh;
    background-color: var(--color-white-background);
    padding: 80px 120px;
    pointer-events: all;
    z-index: 5;
}

.no-background>main {
    margin-top: unset;
}

.wrapper>aside {
    flex: 1;
    margin-top: 60vh;
    background-color: var(--color-primary);
    padding: 40px 60px;
    pointer-events: all;
    z-index: 5;
}

footer {
    position: relative;
    width: 100%;
    padding: 40px 60px;
    background-color: var(--color-primary-darker);
    text-align: center;
    bottom: 0;
}

.cards .paragraph {
    position: relative;
    line-height: 1.62em;
    padding: 40px 60px;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--color-white)
}

.cards .content-wrapper {
    margin-top: -160px;
    border: 15px solid var(--color-white-background);
}


#container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

#edit {
    padding: 5px;
    outline: none;
}

button {
    width: 80px;
    padding: 5px;
    margin: 0 3px;
    background-color: var(--color-primary);
    outline: none;
    border: 1px solid var(--color-primary);
    box-shadow: 2px 2px 2px #3f3f3f;
}

button:hover {
    box-shadow: 2px 2px 3px;
}

button:active {
    box-shadow: 1px 1px 3px;
}


.select-image-list {
    list-style-type: none;
}

.select-image-list-item {
    display: inline-block;
}

.select-image-list-item-input {
    display: none;
}

.select-image-list-item-label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-image-list-item-label::before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.select-image-list-item-label img {
    height: 300px;
    width: 380px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked+.select-image-list-item-label {
    border-color: #ddd;
}

:checked+.select-image-list-item-label::before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked+.select-image-list-item-label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    justify-content: center;
}

.gallery>.photo {
    width: 270px;
    height: 270px;
    background-color: lightgray;
    position: relative;
    overflow: hidden;
}

.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.three-photos>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.two-photos>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.photo>.details {
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: #00000070;
    color: var(--color-white);
    text-align: right;
    justify-content: space-evenly;
    padding: 8px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.photo:hover>.details {
    transform: translateX(0);
}

.content {
    display: flex;
    flex-flow: column;
}

.paragraph-image-container {
    display: flex;
}

.paragraph-image {
    flex-flow: row;
}

.paragraph-image-reverse {
    flex-flow: row-reverse;
}

.paragraph-image-container>div:not(.editor-toolbar) {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container>div {
    flex: 1;
}

.photo {
    height: 60%;
    width: 60%;
}